.App {
  text-align: center;
  font-family: sans-serif;
  width: 1150px;
  margin: auto;
}

.App-header {
  text-align: center;
  font-weight: lighter;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 5%;
  margin-bottom: 2%;
}

.App-link {
  color: #61dafb;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
}

body,
html,
.App,
#root,
.panel-outer {
  width: 100%;
  height: 80%;
}

.rowC {
  display: flex;
  flex-direction: row;
  margin-left: 12%;
  margin-right: 12%;
}

.panel-outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.panel-inner {
  justify-content: center;
  width: auto;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(92, 94, 128, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.logout-button {
   justify-content: center;
   width: 120px;
   margin: auto;
   /* position: absolute;
   top: 20px;
   right: 20px; */
}

.class-button {
  justify-content: right;
  /* width: 120px; */
}

.nested {
  margin-left: 40%;
}