.App {
    text-align: left;
}

.App-header {
    text-align: center;
    font-size: xx-large;
}

.ui-components {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ui-display {
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    object-fit: contain;
}

#ui-canvas {
    max-height: 850px;
}