.App {
  text-align: center;
  font-family: sans-serif;
  width: 1150px;
  margin: auto;
}

.App-header {
  text-align: center;
  font-weight: lighter;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 5%;
}

.App-link {
  color: #61dafb;
}
