.App {
  text-align: center;
}

.App-header {
    text-align: center;
    font-size: xx-large;
}

.ui-components {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
