# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Apple fanboy trash
.DS_Store

# Test coverage
.coverage

# Javascript
.eslintcache
jsconfig.json

# IDE stuff
.idea/
.vscode/